// Для импорта в диспетчер подключений: @import './src/less/blocks/btn.less';


.btn {
  padding: 10px 20px;

  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: @font-family;

  &--orange{
    background-color: @color-orange;

    &:hover{
        background-color: @color-orange-dark;
    }
  }

  &--picture{

    &:before {
        content:"";
        background-image: url(../img/calendar-btn-pic.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 15px;
        height: 15px;
        // border: 2px solid green;
        display: inline-block;
        vertical-align: middle;
        margin: 5px;

    }
  }

  &--green {
    background-color: @color-green;
    border-radius: 0;

    &:hover{
        background-color: @color-green-dark;
    }
  }

  &--transparent {
    background-color: transparent;
    border: 2px solid #fff;

    &:hover{
        background-color: @bgr-color;
        // color: rgba(0,0,0, 0);
        -webkit-text-fill-color: transparent;
    }
  }

  &--more {
    color: @text-color;
    text-decoration: underline;
    text-decoration-style: dotted;
    background-color: @bgr-color;

    &:hover{
        text-decoration: none;
    }
  }

}
