// Для импорта в диспетчер подключений: @import './src/less/blocks/gallery.less';


.gallery {
    margin: 40px 0;
// display: flex;

    &__inner{
        // margin: auto 0;
       @media (min-width: @screen-lg) {
        margin: 20px 100px 40px 100px;
        }
    }

    &__main-img {
        width: 100%;
        height: auto;
        // display: none;

        @media (min-width: @screen-sm) {
            // display: block;
        }

    }

}

