// Для импорта в диспетчер подключений: @import './src/less/blocks/health-block.less';


.health-block {
    // display: flex;
    // justify-content: center;
    // border: 1px solid red;

    &__inner{
        background-image: url(/img/health-promo-bgr.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        // flex-basis: 100%;
        text-align: center;
        // border: 1px solid blue;

        @media (min-width: @screen-sm) {
            width: 75%;
            margin: auto;
            background-size: contain;
            // flex-basis: 75%;
        }

        @media (min-width: @screen-lg) {
            width: 66.67%;
            // flex-basis: 66.67%;
        }


    }

    &__title{
        flex-basis: 100%;
        // border: 1px solid #000;
    }

    &__text{
        // border: 1px solid #000;
        flex-basis: 75%;
        margin-bottom: 30px;
    }

    &__img {
        width: 80px;
        height: 80px;
    }

    &__activities{
        display: none;//почему не срабатывает?
        // border: 1px solid red;

        @media (min-width: @screen-sm) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 100%;

        }

    }

    &__item {
        flex-basis: 25%;
        // border: 1px solid #000;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;

        @media (min-width: @screen-lg) {
            flex-basis: 16%;
        }
    }

}
