// Для импорта в диспетчер подключений: @import './src/less/blocks/health-block.less';


.health-block {
    display: flex;
    justify-content: center;
    border: 1px solid red;
        background-image: url(/img/health-promo-bgr.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;//как зафиксировать размер? чтобы он не менялся с изменением размеров экрана(((

    &__inner{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 100%;
        text-align: center;
        border: 1px solid blue;

        @media (min-width: @screen-sm) {
            flex-basis: 75%;
        }

        @media (min-width: @screen-lg) {
            flex-basis: 66.67%;
        }


    }

    &__activities{
        display: none;//почему не срабатывает?

        @media (min-width: @screen-sm) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 100%;

        }

    }

    &__item {
        flex-basis: 25%;

        @media (min-width: @screen-lg) {
            flex-basis: 16.667%;
        }
    }

}
