// Для импорта в диспетчер подключений: @import './src/less/blocks/logo.less';


.logo {
    // width: 145px;
    // height: 50px;
    border: 1px solid @color-grey-light;
    flex-grow: 1;
    flex-basis: 100%;
    // padding-right: 30px;
    display: flex;
    justify-content: center;

    @media (min-width: @screen-lg) {
            flex-grow: 0;
            border: none;
            flex-basis: auto;
        }

    &__img {
        width: 145px;
        border: 2px solid black;
    }
}

