// Для импорта в диспетчер подключений: @import './src/less/blocks/main-nav.less';


.main-nav {

    font-size: 14px;
    text-transform: uppercase;

    // display: flex;

    &__list{
        list-style: none;
        // display: none;
        // display: flex;
        // flex-direction: column;

    }

    &__item {
        flex-basis: 100%;
    }

    &__burger {

    }
}
