@import '../variables.less';


.page-header {
    color: @text-color;
    padding: 20px;
    border: 2px solid black;


    &__inner{

        display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        align-items: center;

    }

    &__burger {
        // background-image: url(./src/img/home/burger.png);
        // background-repeat: no-repeat;
        // background-size: cover;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        display: block;
        flex-shrink: 0;
}


    &__contacts {
        display: none;
    }

    &__btn {
        display: none;
    }
}

