// Для импорта в диспетчер подключений: @import './src/less/blocks/testimonials.less';


.testimonials {
  background-image: url(/img/testimonials-bgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;

  &__inner {
    text-align: center;
    // margin: auto 50px;
    width: 100%;
    padding: 50px 0;

  }


  &__title {
    color: #fff;
    margin-bottom: 50px;
  }

  &__slider {
    display: flex;
    flex-wrap: wrap;
    // margin: 40px 0;
    justify-content: center;
  }

  &__btn {
    margin: 40px 0;
  }
}
